<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
  <title>House Owner Login - StaySquare</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="container section">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card glass">
                <h2 class="text-center mb-4 section-title">House Owner Login</h2>
                <form th:action="@{/houseowner}" th:method="post">

                    <div style="color:red;" class="mb-3" th:if="${msg}">
                        <p class="alert alert-danger">[[${msg}]]</p>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email" required>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Enter a password" required>
                    </div>

                    <div class="d-grid mt-4">
                        <button type="submit" class="nav-link btn-primary text-center">Log In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
</body>
</html>